.dishes{
    background-color: brown;
            border-radius: 2px;
            padding: 0 30px;
            margin: 0 25px;
            font-family: 'Times New Roman', Times, serif;
            box-shadow: 3px;
            cursor: pointer;  
            display: inline-table;
}